build/
.gradle/
out/
*.class
*.jar
*.war
*.ear
logs/
data/
.idea/
*.iml
*.log

gradle-8.5/
gradle-dist/
gradle-8.5-bin.zip
tools/

gradle-8.5/
gradle-dist/
gradle-8.5-bin.zip
tools/

!gradle/wrapper/gradle-wrapper.jar
